p:hover {
    color: green;
    font-weight: bold;
}

p::before {
    content: 'Hello';
    color: red;
    font-weight: bold;
}

p::after {
    content: 'Bye!';
    color: red;
    font-weight: bold;
}

p::selection {
    background-color: purple;
    color:white;
}